################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CatalogProduct.Api/.vs/CatalogProduct.Api/v16
